


@media (max-width: 1200px) {
    /* Estilos para telas menores, como smartphones */
        .conteudo-principal-cards{
            display: flex;
            flex-wrap: wrap;
    
        }
        .cards{
            width: calc(50% - 20px); 
            box-sizing: border-box;
            align-items: center;
            padding: 10px;
        }

        h1{
            font-size: 1rem;
        }

        h2{
            font-size: 1.5rem;
        }
        .conteudo{
            height: 160vh;
        }
        .img{
            width: 95px;
            height: auto;
            margin: 0 auto ; 
        }

        hr{
            max-width: 100%;
        }

        .redes-social{
            padding-bottom: 20%;
            width: 100%;
            height: 70vh;
        }

        .conteudo2{
            padding: 40px;
            margin: 0 auto;
        }

        .aumento{
            font-size: 1.5rem;
            padding: 10px;
        }
        .um{
            font-size: 1rem;
            margin-right: -20px;
            
        }

        .dois{
            font-size: 1rem;
            margin-right: 20px;
           
        }
        .tres{
            font-size: 1rem;
            width: 20%;
          
            
        }

        .redes{
            width: 50%;
            margin-right: 86px;

        }
  }

  
@media (max-width: 768px){
   
    .conteudo-principal-cards{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 10px;
    }
    .conteudo{
        height: 160vh;
    }

    .image{
        padding: 10px;
        height:auto;
    }

    .conteudo-principal-titulo{
        display: flex;
        flex-wrap: nowrap;
        font-size: 20px;
        color: white;
    }

    .cards{
        display: grid;
        justify-content: center;
        align-items: end;
        width: calc(50% - 20px);
        box-sizing: border-box;
    }

    .redes{
        width: 50%;
        margin-right: 86px;
    }

}


@media (max-width: 376px){
   
    .conteudo-principal-cards{
        display: flex;
        flex-direction: row;
    }
    .cards{
        display: grid;
        justify-content: center;
        align-items: end;
        width: calc(50% - 20px); 

    }
    .conteudo-principal-titulo{
        font-size: 14px;
    }

    .img1{
        width: 100px;
    }
    .image{
        display: flex;
        align-self: center;
        margin: 0 auto;
    }


    .redes-social{
        display: flex;
        flex-wrap: wrap;
        
    }
    .redes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .um{
        margin: 0 auto ;
        padding: 15px;

    }
   
    .dois{
      margin: 0 auto;
      padding: 10px;
      margin-left: 15px;
    }
    .tres{
        margin: 0 auto;
        padding: 10px;
    }
}